@use './../../styles/variables' as v;

header {
  background: v.$color-primary;
  color: v.$color-primary-contrast;
  padding: v.$spacing-unit;

  h1 {
    margin: 0;
    font-size: v.$font-size-xl;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;

    ul {
      list-style: none;
      padding: 0;
      display: flex;
      gap: 1rem;

      li {
        a {
          color: v.$color-primary-contrast;
          text-decoration: none;
          font-weight: bold;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
